@mixin clearfix {
    &:after,
    &:before {
        display: table;

        content: '';
    }
    &:after {
        clear: both;
    }
}

@mixin negative-indent { text-indent: -99999px; }

@mixin justify {
    font-size: 1px;
    line-height: 0;
    text-align: justify;
    text-justify: newspaper;

    &:after {
        display: inline-block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        width: 100%;

        content: '';
    }
}