<div class="home" ng-controller="HomeController">

    <div class="hero" ng-controller="HeroController">
        <div class="hero__item">
            <div class="hero__cover" data-src="/media/posts_images/hero-1.png"></div>
            <div class="hero__caption">
                <div class="hero__holder">
                    <div class="hero__content">
                        <h2 class="hero__title">WooHoo!</h2>
                        <p class="hero__text">Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item">
            <div class="hero__cover" data-src="/media/posts_images/hero-2.png"></div>
            <div class="hero__caption">
                <div class="hero__holder">
                    <div class="hero__content">
                        <h2 class="hero__title">WooHoo!</h2>
                        <p class="hero__text">Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item">
            <div class="hero__cover" data-src="/media/posts_images/hero-3.jpg"></div>
            <div class="hero__caption">
                <div class="hero__holder">
                    <div class="hero__content">
                        <h2 class="hero__title">WooHoo!</h2>
                        <p class="hero__text">Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="promo" ng-controller="PromoController">-->
        <!--<div class="promo__cover">-->
            <!--<img class="promo__cover-image" src="/media/posts_images/hero.png" alt=""/>-->
        <!--</div>-->
        <!--<div class="promo__inner">-->
            <!--<div class="promo__content">-->
                <!--<h2 class="promo__title">WooHoo!</h2>-->
                <!--<p class="promo__text">Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="news">
        <div class="news__inner">
            <div class="news__item">
                <h2 class="news__title">Chocolate bar cheesecake</h2>
                <div class="news__date">July 26, 2013</div>
                <div class="news__content">
                    <p>Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Sesame snaps chocolate cake bonbon bonbon cheesecake candy dessert. Pudding sweet roll sweet biscuit applicake lollipop pudding. Pudding lemon drops biscuit. Cotton candy oat cake lemon drops chupa chups powder donut toffee. Candy halvah tart cheesecake marshmallow gummi bears lemon drops. Topping pudding tootsie roll muffin lemon drops candy canes bonbon cupcake macaroon. Apple pie gummies chocolate donut topping wafer ice cream tart. Muffin pastry cotton candy applicake jelly-o halvah. Chupa chups sweet roll cookie applicake halvah applicake. Cotton candy souffl? biscuit jujubes marzipan jelly cotton candy. Jelly pastry cookie jelly-o jelly-o topping dessert gummi bears powder.</p>
                    <p>Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Sesame snaps chocolate cake bonbon bonbon cheesecake candy dessert. Pudding sweet roll sweet biscuit applicake lollipop pudding. Pudding lemon drops biscuit. Cotton candy oat cake lemon drops chupa chups powder donut toffee. Candy halvah tart cheesecake marshmallow gummi bears lemon drops. Topping pudding tootsie roll muffin lemon drops candy canes bonbon cupcake macaroon. Apple pie gummies chocolate donut topping wafer ice cream tart. Muffin pastry cotton candy applicake jelly-o halvah. Chupa chups sweet roll cookie applicake halvah applicake. Cotton candy souffl? biscuit jujubes marzipan jelly cotton candy. Jelly pastry cookie jelly-o jelly-o topping dessert gummi bears powder.</p>
                </div>
            </div>
            <div class="news__item">
                <h2 class="news__title">Macaroon chocolate carrot cake</h2>
                <div class="news__date">July 26, 2013</div>
                <div class="news__content">
                    <p>Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Sesame snaps chocolate cake bonbon bonbon cheesecake candy dessert. Pudding sweet roll sweet biscuit applicake lollipop pudding. Pudding lemon drops biscuit. Cotton candy oat cake lemon drops chupa chups powder donut toffee. Candy halvah tart cheesecake marshmallow gummi bears lemon drops. Topping pudding tootsie roll muffin lemon drops candy canes bonbon cupcake macaroon. Apple pie gummies chocolate donut topping wafer ice cream tart. Muffin pastry cotton candy applicake jelly-o halvah. Chupa chups sweet roll cookie applicake halvah applicake. Cotton candy souffl? biscuit jujubes marzipan jelly cotton candy. Jelly pastry cookie jelly-o jelly-o topping dessert gummi bears powder.</p>
                    <p>Macaroon chocolate carrot cake applicake gummies lollipop candy chupa chups. Candy canes candy canes gummi bears gummi bears chocolate bar pie icing jelly-o jujubes. Sesame snaps chocolate cake bonbon bonbon cheesecake candy dessert. Pudding sweet roll sweet biscuit applicake lollipop pudding. Pudding lemon drops biscuit. Cotton candy oat cake lemon drops chupa chups powder donut toffee. Candy halvah tart cheesecake marshmallow gummi bears lemon drops. Topping pudding tootsie roll muffin lemon drops candy canes bonbon cupcake macaroon. Apple pie gummies chocolate donut topping wafer ice cream tart. Muffin pastry cotton candy applicake jelly-o halvah. Chupa chups sweet roll cookie applicake halvah applicake. Cotton candy souffl? biscuit jujubes marzipan jelly cotton candy. Jelly pastry cookie jelly-o jelly-o topping dessert gummi bears powder.</p>
                </div>
            </div>
        </div>
    </div>
</div>
