<div class="home" ng-controller="HomeController">

    <div class="hero">
        <div class="hero__item">
            <img class="hero__image" src="/static/img/temp/hero-3.jpg" alt="" />
        </div>
        <div class="hero__indicator">
            <div class="hero__bullet">1</div>
            <div class="hero__bullet">2</div>
            <div class="hero__bullet hero__bullet_state_current">3</div>
            <div class="hero__bullet">4</div>
        </div>
    </div>

    <div class="clients">
        <div class="clients__inner">
            <div class="clients__header">Our Happy Clients</div>
            <div class="clients__holder">
                <div class="clients__item">
                    <img class="clients__image" src="/static/img/temp/clients-1.jpg" alt="" />
                </div>
                <div class="clients__item">
                    <img class="clients__image" src="/static/img/temp/clients-1.jpg" alt="" />
                </div>
                <div class="clients__item">
                    <img class="clients__image" src="/static/img/temp/clients-1.jpg" alt="" />
                </div>
                <div class="clients__item">
                    <img class="clients__image" src="/static/img/temp/clients-1.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

</div>
