.menu-header {
    display: inline-block;
    margin: 0;
    padding: 0;
}
    .menu-header__item {
        border-left: 1px solid $white-shadow;
        display: inline-block;
        height: 22px;

        &:first-child { border-left: none; }
    }
        .menu-header__link {
            @include transition(color .2s);

            display: block;
            margin: -5px -1px;
            padding: 5px 18px;

            position: relative;
            z-index: 2;

            color: $white;
            font-family: $ff-dosis;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-decoration: none;
            text-transform: uppercase;

            &.menu-header__link_state_current {
                z-index: 3;

                cursor: default;

                &:after {
                    top: 0;

                    background: $red-shadow;
                }
            }
            &:hover {
                z-index: 3;

                &:after {
                    top: 0;

                    background: $red-shadow;
                }
            }
            &:after {
                @include transition(top .2s);

                position: absolute;
                top: 34px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;

                content: '';
            }
        }

//.menu-header__link {
//    &:after {
//        position: absolute;
//        top: 34px;
//        right: 0;
//        bottom: 0;
//        left: 0;
//        z-index: -1;
//
//        content: '';
//
//        transition: top .2s;
//    }
//
//}