{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html ng-app="doWebNow">
<head>
    <meta charset="utf-8" />
    <title>Django says Hello World!</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    {% compress css %}
        <link type="text/less" rel="stylesheet" href="/static/css/init.less" />
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/angular.js"></script>

        <script type="text/javascript" src="/static/app/app.js"></script>

        <script type="text/javascript" src="/static/app/menu/MenuHeaderController.js"></script>
        <script type="text/javascript" src="/static/app/menu/MenuFooterController.js"></script>
        <script type="text/javascript" src="/static/app/home/HomeController.js"></script>
        <script type="text/javascript" src="/static/app/test/TestController.js"></script>

        <script type="text/javascript" src="/static/directives/menu.js"></script>
    {% endcompress %}
</head>
<!--[if lt IE 8]><body class="lt-ie10 lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><body class="lt-ie10 lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><body class="lt-ie10 ie9"><![endif]-->
<!--[if gt IE 9]><!--><body><!--<![endif]-->

    <header class="header">
        <div class="header__inner">
            <div class="header__logo"></div>
            <div class="header__slogan"></div>
            <div class="header__menu">
                <menu-header></menu-header>
            </div>
        </div>
    </header>

    <div class="layout">
        <div class="layout__inner" ng-view></div>
    </div>

    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__logo"></div>
            <div class="footer__slogan"></div>
            <div class="footer__menu">
                <menu-footer></menu-footer>
            </div>
        </div>
    </footer>

</body>
</html>